<div class="contenido">

    <form action="/admin/productos/agregar" method="post" enctype="multipart/form-data">

        <h3>Agregar un Productos</h3>

        <input type="text" name="titulo" id="titulo" placeholder="Escriba el Titulo" />

        <input class="imagen" type="file" name="imagen" id="imagen"/>

        <input type="text" name="precio" id="precio" placeholder="Escriba el Precio" />

        <button type="submit">Agregar</button>
        <input class="boton3" type="button"onclick="window.location.href='/admin/productos'" value="Volver">

    </form>
    {{#if error}}
        <p>{{message}}</p>
    {{/if}}

</div>