<div class="cajonpadre">
    <div class="titul">
        <h4>Hola {{usuario}} </h4>
        <button class="boton1" type="button" onclick="location.href='/admin/login/logout'">Cerrar Sesion</button>
    </div>

    <div class="navegador">

        <div>
            <button style='width: 150px' class="boton2" type="button" onclick="location.href='/admin/inicio'">Inicio</button>
        </div>

        <div>
            <button style='width: 150px' class="boton2" type="button" onclick="location.href='/admin/productos'">Productos</button>
        </div>

        <div>

            <button style='width: 150px' class="boton2" type="button" onclick="location.href='/admin/nosotros'">Nosotros</button>
        </div>
    </div>

    <div class="product">

    </div>



</div>